/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 03/05/2025 19:27:32
*/

.VideoCard a {
  color: inherit;
  text-decoration: none;
}
.VideoCard .card{
  border-width: 2px;
}
.VideoCard .card:hover{
  background-color: green;
  /* background-color: var(--bg-primary); */
  color: white;
  /* color: rgb(237, 13, 13); */
  
}
.VideoCard .card:hover h5{
  color: white !important;
  /* color: rgb(237, 13, 13) !important; */
}
.VideoCard .card h5{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.VideoCard .card{
border-radius: 20px;
}
.VideoCard .card img{
border-radius: 20px 20px 0 0;
}
