/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 13/05/2025 15:22:39
*/


/* ================================= */
.PlayListItem a{
  /* background-color: white; */
  color: inherit !important;
}
.PlayListItem:hover {
  background-color: green ;
   color: white !important;
}
.PlayListItem.current{
  background-color: rgba(18, 44, 241, 0.423) !important;
  color: white !important;
}
.PlayListItem .navbar-brand{
  color: blue !important;
  font-weight: bold;
}
.PlayListItem .video-title strong {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}