/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 18/05/2025 15:14:58
*/

.SearchBox .homeHeader h2 {
  color: red;
}

.SearchBox .homeHeader p {
  font-size: 1.3rem;
}
/* #pageSize{ */
  /* width: 100px !important;
  height: 38px !important; */
  /* background-color: rgb(255, 255, 255) !important; */
 /* } */