/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 02/05/2025 09:59:19
*/

.ErrorPage {
  padding: 20px;
  text-align: center;
  font-weight: 900;
  line-height: 100px;
}
