/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 12/05/2025 20:45:20
*/

.MediaReader h2{
  color: blue !important;
}
.MediaReader #video-descriotion{
  text-align: justify;
  letter-spacing: 1.5px !important;
}
